.left-navbar{
  .filters{
    .dropdown-div{
      .dropdown-div-btn{
        color: #333333;
        border-bottom: 2px solid #999999!important;
        font-weight: 700;
        padding-bottom: 15px;
        margin-bottom: 15px;
        word-wrap: break-word;
        span{
          color: #333333;
        }
      }
      .dropdown-div-content{
        ul{
          margin: 0;
          padding: 0;
        }
      }
    }
    .filters-save{
      margin: 20px 0;
      a{
        color: #ffffff;
        font-size: 14px;
      }
    }
  }
}

.grid-header{
  border-bottom: 2px solid #999999 !important;
  margin-bottom: 15px;
  padding-bottom: 10px;

  display: flex;
  justify-content: flex-end;

  .gridSelect{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #cccccc;
    width: 300px;
    .select-default{
      margin-left: 10px;
      .v-select{
        .dropdown-toggle{
          border-radius: 13px;
          input{
            font-size: 13px;
            height: 30px;
          }
          .selected-tag{
            font-size: 13px;
            margin: 1px 1px 0 3px;
          }

          .clear{
            bottom: 3px;
          }

          .open-indicator{
            bottom: 2px;
          }

        }
        .dropdown-menu{
          border-radius: 13px;
          li a{
            border-radius: 13px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px){
  .grid-header{
    justify-content: center;
  }
}
