body{
  background-color: #FFFFFF;
  width: 100%;
}

$yellow: #e65540;
$light-color: #e65540;

.body-fix{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
}

.mobile-nav-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8888;
  background-color: rgba(0,0,0,0.6);
  display:none;
}

h1,h2,h3,h4,span,a,p,div{
  font-family: 'Montserrat',sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a:active,
a:focus,
a:hover,
a{
  text-decoration: none;
  outline: none;
}

.smoll-cart-products-block::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
}

.smoll-cart-products-block::-webkit-scrollbar-track {
  background-color:#ecedee
}

.smoll-cart-products-block::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color:#ddd;
}

.smoll-cart-products-block::-webkit-scrollbar-thumb:hover{
  background-color:#ccc;
}

.smoll-cart-products-block::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width: 6px;
  height:0px
}
.smoll-cart-products-block::-webkit-scrollbar{
  width: 6px;
  border-radius: 2px;
}


  span.old-price{
    text-decoration: line-through;
    color: #999999;
    margin-right: 10px;
  }


  .after-header-mrg{
    height: 65px;
    display: none;
  }


  .quantity{
    display: flex;
    flex-direction: row;
    .qty{
      margin: 0 6px;
      display: flex;
      text-align: center;
      width: 100px;
      border-radius: 23px;
      outline: none;
      border: 2px solid #111111;
      background-color: #fff;
      color: #111111;
      &:active{
        outline: none;
      }
      &:focus{
        outline: none;
      }
      &:visited{
        outline: none;
      }
    }
    .quantity-btn{
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      border: 2px solid #111111;
      background-color: #fff;
      color: #111111;
      border-radius: 50%;
      cursor: pointer;
      outline: none;

      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;

      &:hover{
        color: #ffffff;
        border: 2px solid #e65540;
        background-color: #e65540;

      }
      &:active{
        outline: none;
      }
      &:focus{
        outline: none;
      }
      &:visited{
        outline: none;
      }
    }
  }

