header{
  .top_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 40px;
    .flex-container{
      display: flex;
      justify-content: space-between;
      ul{
        li{
          display: inline-block;
          font-family: "Montserrat", sans-serif;
          margin-right: 18px;
          position: relative;
          &:after{
            content: '';
            background-color: #888888;
            width: 1px;
            position: absolute;
            right: -11px;
            height: 15px;
            top: 5px;
          }
          &:last-child{
            &:after{
              height: 0;
            }
          }
        }
      }
      .lang_login{
        ul{
          li{
            margin-right: 0;
            margin-left: 22px;
            &:after{
              right: -15px;
            }
            .lang-second{
              position: absolute;
              display: none;
              .lang-padding{
                height: 13px;
                margin-top: -24px;
              }
              a{
                padding: 5px 16px;
                border-radius: 22px;
                background-color: #ffffff;
                border-top: 1px solid #888888;
                box-shadow: 0px 3px 15px 0px rgba(250, 250, 250, 0.4);
                -webkit-box-shadow: 0px 3px 15px 0px rgba(250, 250, 250, 0.4);
                -moz-box-shadow: 0px 3px 15px 0px rgba(250, 250, 250, 0.4);
                -o-box-shadow: 0px 3px 15px 0px rgba(250, 250, 250, 0.4);
              }
              &:hover{
                display: block;
              }
            }
            .lang{
              margin-right: 15px;
              position: relative;
              color: #888888;
              font-size: 13px;
              cursor: pointer;
              &:hover{
                color: #5f5f5f;
              }
              svg{
                width: .625em;
                position: absolute;
                right: -14px;
                top: 3px;
              }
              &:hover>.lang-second{
                display: block;
                top: 37px;
                left: -9px;
              }
            }
          }
        }
      }
    }
    a{
      color: #888888;
      font-size: 13px;
      font-weight: 400;
    }

    a:hover{
      color: #5f5f5f;
    }
  }

  .main-nav{
    height: 100px;
    background-color: #1e201f;
    display: flex;
    align-items: center;
    .flex-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mobile_nav{
        display: none;
        .sidenav{
          height: 100%;
          width: 290px;
          position: fixed;
          top: 0;
          left: 0;
          background-color: #222222;
          overflow-x: hidden;
          /*padding-top: 60px;*/
          /*transition: 0.5s; */
          z-index: 9999;
          margin-left: -290px;

          .nav-header{
            height: 100px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            color: #fff;
            font-size: 24px;
            .closebtn{
              position: absolute;
              right: 20px;
              top: 34px;
              cursor: pointer;
              &:hover{
                opacity: 0.8;
              }
            }
          }
          .nav-slide-body{
            padding-bottom: 30px;
            ul{
              li{
                .dropdown-div{
                  margin-bottom: 0;
                  .dropdown-div-btn{
                    color: #fff;
                    padding: 11px 0 11px 20px;
                    border: none;
                    border-top: 1px solid #fff;
                    a{
                      border: none;
                      text-align: left;
                      font-size: 14px;
                      word-wrap: break-word;
                      width: 80%;

                      height: auto;
                      min-height: 50px;
                      line-height: 17px;
                      display: flex;
                      align-items: center;

                    }
                    span{
                      top: 15px;
                      right: 15px;
                      border: 2px solid #ffffff;
                      width: 40px;
                      height: 40px;
                      text-align: center;
                      line-height: 39px;
                      border-radius: 50%;
                    }
                  }
                  .dropdown-div-content{
                    ul{
                      margin-left: 40px;
                      li{
                        a{
                          color: #fff;
                          opacity: 0.8;
                          border: none;
                          border-bottom: 1px solid #222222;
                          border-radius: 0;
                          width: 100%;
                          text-align: left;
                          display: flex;
                          height: 45px;
                          align-items: center;
                          font-size: 13px;
                          &:hover{
                            opacity: 0.7;
                          }
                        }
                      }
                    }
                  }
                }
                .default-link{
                  color: #fff;
                  border: none;
                  border-top: 1px solid #fff;
                  border-radius: 0;
                  width: 100%;
                  text-align: left;
                  font-size: 14px;
                  height: 73px;
                  display: flex;
                  align-items: center;
                  padding-left: 20px;
                  word-wrap: break-word;
                }
              }
            }

          }
        }
        a{
          font-size: 20px;
          display: block;
          border: 2px solid #fff;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          border-radius: 50%;
          color: #fff;
        }
      }
      .logo{
        a{
          img{
            width: 230px;
          }
        }
      }
      .search_phone{
        display: flex;
        flex-direction: row;
        align-items: center;
        .phone{
          display: flex;
          flex-direction: row;
          align-items: center;
          ul li span{
            color: #ffffff;
            font-size: 14px;
            margin-left: 10px;
          }
        }
        .search{
          position: relative;
          form{
            width: 450px;
            margin: 0 20px;
            .search-result{
              width: 93%;
              padding: 20px;
              top: 68px;
              border-radius: 20px;
              height: auto;
              background-color: #ffffff;
              position: absolute;
              z-index: 9999;
              box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
              -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
              -o-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
              display: none;
              .result-item{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid #eeeeee;
                .product-img{
                  display: flex;
                  width: 110px;
                  height: 110px;
                  position: relative;
                  img{
                    width: 110px;
                    height: 110px;
                    object-fit: cover;
                  }
                }
                .product-info{
                  display: flex;
                  margin-left: 20px;
                  a{
                    span{
                      display: block;
                      font-size: 16px;
                    }
                    .title{
                      font-size: 16px;
                      margin-bottom: 10px;
                      color: #222222;
                    }
                    .price{
                      font-size: 15px;
                      color: #222222;
                    }
                    &:hover>.title{
                      text-decoration: underline;
                    }
                  }
                }
              }
              .show-all-result{
                text-align: center;
                a{
                  width: 200px;
                }
              }
            }
          }
          input{
            height: 50px;
            border-radius: 30px;
            background: none;
            border: 2px solid #fff;
            color: #ffffff;
            outline: none;
            padding-left: 22px;
            width: 100%;
            &:focus{
              outline: none;
              border: 2px solid #d3d3d3;
            }
          }
          button{
            background-color: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 30px;
            width: 80px;
            height: 50px;
            position: absolute;
            right: 20px;
            top: 0;
            cursor: pointer;
            &:hover{
              background-color: #d3d3d3;
              border: 2px solid #d3d3d3;
            }
          }
        }
      }
      .main-nav_btn{
        ul{
          li{
            display: inline-block;
          }
          .wishlist-btn{
            a{
              color: #fff;
              font-size: 20px;
              display: block;
              border: 2px solid #fff;
              width: 50px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              border-radius: 50%;
              &:hover{
                opacity: 0.8;
              }
            }
          }
          .smoll-cart{
            margin-left: 20px;
            position: relative;
            span{
              cursor: pointer;
              color: #fff;
              font-size: 20px;
              display: block;
              border: 2px solid #fff;
              width: 50px;
              height: 50px;
              line-height: 46px;
              text-align: center;
              border-radius: 50%;
              z-index: 1;
              &:hover{
                opacity: 0.8;
              }
            }
            .badge-count{
              width: 20px;
              height: 20px;
              background-color: #ffffff;
              color: #222222;
              font-size: 11px;
              position: absolute;
              right: -2px;
              line-height: 18px;
              z-index: 2;
              &:hover{
                opacity: 1;
              }
            }
            .smoll-cart-products{
              border: 1px solid #ddd;
              width: 310px;
              border-radius: 23px;
              padding: 20px;
              position: absolute;
              background-color: #ffffff;
              right: 0;
              top: 62px;
              box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
              -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
              -o-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
              z-index: 9999;
              opacity: 0;
              visibility: hidden;
              transform: translateY(50px);
              -webkit-transform: translateY(50px);
              -ms-transform: translateY(50px);
              /* transition: transform 0.3s ease 0s; */
              /* -webkit-transition: transform 0.3s ease-in-out 0s; */
              /* -ms-transition: transform 0.3s ease 0s; */
              transition: all 0.3s ease 0s;
              -webkit-transition: all 0.3s ease-in-out 0s;
              -ms-transition: all 0.3s ease 0s;

              .smoll-cart-padding{
                height: 30px;
                margin-top: -30px;
              }

              .smoll-cart-products-block{
                height: 260px;
                overflow-x: auto;
              }
              .smoll-cart-footer{
                margin-top: 10px;
                padding: 15px 0;
                border-top: 2px solid #eeeeee;
                .all-count-price{
                  font-size: 18px;
                  font-weight: 500;
                  color: #222222;
                }
                .smoll-cart-footer-btn{
                  a{
                    margin-top: 15px;
                    font-size: 14px;
                  }
                }
              }
            }
            &:hover>.smoll-cart-products{
              visibility: visible;
              opacity: 1;
              transform: translateY(0px);
              -webkit-transform: translateY(0px);
              -ms-transform: translateY(0px);
            }

            .smoll-cart-item{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding-bottom: 15px;
              margin-bottom: 15px;
              border-bottom: 1px solid #eee;
              overflow-x: hidden;
              position: relative;
              &:last-child{
                border: none;
                padding-bottom: 0;
              }
              .delete-smoll-prod{
                display: flex;
                position: absolute;
                -o-transition: 0.2s;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                right: -15px;
                a{
                  font-size: 16px;
                  svg{
                    font-size: 16px;
                    color: #222222;
                  }
                  &:hover>svg{
                    color: #e65540;
                  }
                }
              }

              &:hover>.delete-smoll-prod{
                right: 7px;
                -o-transition: 0.2s;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
              }

              .smoll-cart-img{
                display: flex;
                width: 110px;
                height: 110px;
                position: relative;
                img{
                  width: 110px;
                  height: 110px;
                  object-fit: cover;
                }
              }
              .smoll-cart-info{
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                .title{
                  a{
                    font-size: 14px;
                    color: #222222;
                    font-weight: 500;
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                }
                .count_price{
                  span{
                    color: #222222;
                    font-size: 13px;
                    display: inline;
                    border: none;
                    cursor: default;
                    width: 0;
                    height: 0;
                    line-height: 0;
                  }
                }
                .total_price{
                  span{
                    color: #222222;
                    display: inline;
                    border: none;
                    cursor: default;
                    width: 0;
                    height: 0;
                    line-height: 0;
                    font-weight: 500;
                    font-size: 13px;
                  }
                }
              }
            }

          }
        }
      }
    }
  }

  .category-nav{
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.02);
    .flex-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;

      -o-transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      .category-list{
        li{
          display: inline-block;
          position: relative;
          margin-right: 25px;
          &:after{
            content: '';
            background-color: #222222;
            width: 1px;
            position: absolute;
            right: -15px;
            height: 20px;
            top: 2px;
          }
          &:last-child{
            &:after{
              height: 0;
            }
          }
          a{
            color: #222222;
            &:hover{
              color: #000;
            }
          }
        }
        .show-dropdown-category{
          a{
            svg{
              width: .525em;
              margin-left: 6px;
              color: #737373;
            }
          }
          .dropdown-category{
            display: none;
            top: 46px;
            position: absolute;
            background-color: #ffffff;
            width: 200%;
            border-top: 2px solid #222222;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
            -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
            -o-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
            z-index: 7777;
            .categ-drop-padding{
              height: 30px;
              margin-top: -30px;
              position: relative;
              &:before{
                content: '';
                border: 10px solid transparent;
                border-bottom: 10px solid #222222;
                position: absolute;
                bottom: 0;
                left: 15px;
              }
            }
            li{
              margin: 0;
              display: block;
              border-bottom: 1px solid #eeeeee;
              position: relative;
              a{
                display: block;
                padding: 15px;
                font-size: 14px;
                -o-transition: 0.2s;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                &:hover{
                  margin-left: 5px;
                  -o-transition: 0.2s;
                  -webkit-transition: 0.2s;
                  -moz-transition: 0.2s;
                }
              }
              &:after{
                content: none;
              }
            }
            &:hover{
              display: block;
            }
          }
          &:hover>.dropdown-category{
            display: block;
          }
        }
      }
      .nav-sale-btn a{
        color: #222222;
        font-weight: 500;
        &:hover{
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 1200px){
  header{
    .main-nav{
      .flex-container{
        .search_phone{
          .phone{
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 991px){
  header{
    .top_nav{
      display: none;
    }
    .main-nav{
      .flex-container{
        .mobile_nav{
          display: block;
        }
        .search_phone{
          display: none;
        }
        .main-nav_btn ul{
          .wishlist-btn{
            display: none;
          }
          .smoll-cart{
            margin: 0;
          }
        }
      }
    }
    .category-nav{
      display: none;
    }
  }

  .after-header-mrg{
    display: none!important;
  }
}

@media (max-width: 400px){
  header{
    .main-nav{
      .flex-container{
        .logo{
          a{
            img{
              width: 160px;
            }
          }
        }
        .mobile_nav{
          display: block;
          a{
            height: 35px;
            width: 35px;
            font-size: 15px;
            line-height: 35px;
          }
        }
        .main-nav_btn ul{
          .smoll-cart{
            margin: 0;
            span{
              height: 35px;
              width: 35px;
              font-size: 15px;
              line-height: 35px;
            }
            .badge-count{
              right: -4px;
              top: -10px;
            }
          }
        }
      }
    }
    .category-nav{
      display: none;
    }
  }
}

header{
  .topWindow{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:9999;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    .flex-container{
      height: 55px;
      -o-transition: 0.6s;
      -webkit-transition: 0.6s;
      -moz-transition: 0.6s;
      .category-list{
        .show-dropdown-category{
          .dropdown-category{
            top: 40px;
            .categ-drop-padding{
              height: 20px;
              margin-top: -20px;
            }
          }
        }
      }
    }
  }

}
