.input-group-default{
  margin-bottom: 15px;
  .input-default{
    width: 100%;
    border-radius: 23px;
    padding: 6px 0 6px 15px;
    border: 2px solid #ccc;
    outline: none;
    font-size: 14px;
    &:focus{
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
      border: 2px solid #999999;
    }
  }
  label{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 12px;
    min-height: 30px;
  }

  textarea{
    height: 100px;
    min-height: 100px;
    min-width: 100%;
    width: 100%;
    border-radius: 23px;
    padding: 10px 0 6px 15px;
    border: 2px solid #ccc;
    outline: none;
    &:focus{
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
      border: 2px solid #999999;
    }
  }
}

.incorect-input{
  .input-default{
    border: 2px solid #e65540;
    &:focus{
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
      border: 2px solid #ccc;
    }
  }
  label{
    color: #e65540;
  }
}

.incorrect-field label {
  border: 2px solid #ff402f !important;
}
label.incorrect-field {
  /*border: 2px solid #ff402f !important;*/
  color: #ff402f;
}

.incorrect-field input {
  border: 2px solid #ff402f !important;
}
input.incorrect-field {
  border: 2px solid #ff402f !important;
}

.incorrect-field textarea {
  border: 2px solid #ff402f !important;
}
textarea.incorrect-field {
  border: 2px solid #ff402f !important;
}

.incorrect-field select {
  border: 2px solid #ff402f !important;
  color: #ff402f !important;
}
select.incorrect-field {
  border: 2px solid #ff402f !important;
  color: #ff402f !important;
}

.incorrect-field input::-webkit-input-placeholder,
input.incorrect-field::-webkit-input-placeholder,
.incorrect-field textarea::-webkit-input-placeholder,
textarea.incorrect-field::-webkit-input-placeholder {
  color: #ff402f !important;
}
.incorrect-field input:-moz-placeholder,
input.incorrect-field:-moz-placeholder,
.incorrect-field textarea:-moz-placeholder,
textarea.incorrect-field:-moz-placeholder {
  color: #ff402f !important;
}
.incorrect-field input::-moz-placeholder,
input.incorrect-field::-moz-placeholder,
.incorrect-field textarea::-moz-placeholder,
textarea.incorrect-field::-moz-placeholder {
  color: #ff402f !important;
}
.incorrect-field input:-ms-input-placeholder,
input.incorrect-field:-ms-input-placeholder,
.incorrect-field textarea:-ms-input-placeholder,
textarea.incorrect-field:-ms-input-placeholder {
  color: #ff402f !important;
}