.slider-products-section{
  .slider-products-header{
    font-size: 23px;
    color: #222222;
    margin-bottom: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
  }

  .owl-products{
    .owl-nav{
      position: absolute;
      top: -74px;
      right: 0;
      button{
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        display: inline-flex;
        line-height: 0;
        justify-content: center;
        align-items: center;
        outline: none;
        width: 30px;
        height: 30px;
        span{
          margin-top: -1px;
        }
      }
      .owl-next{
        span{
          margin-right: -2px;
        }
      }
    }
  }
}